.basic-layout {
  background: #f3f3f3;
}
.header-search {
  height: 75px;
  line-height: 75px;
  background: rgb(40, 182, 245);
  display: flex;
  align-items: center;
  .left-btn {
    width: 70px;
    text-align: center;
    img {
      vertical-align: middle;
      height: 32px;
    }
  }
  .search-con {
    height: 62px;
    border-radius: 3px 0 0 3px;
    flex: 1;
    background: #fff;
    display: flex;
    padding-right: 20px;
    input {
      border: none;
      outline: none;
      background: transparent;
      flex: 1;
      font-size: 24px;
      color: #010101;
    }
    img {
      width: 34px;
      height: 34px;
      margin: 18px;
    }
  }
  .search-btn {
    width: 120px;
    padding-left: 24px;
    color: #fff;
    box-sizing: border-box;
    font-size: 24px;
  }
}

.search-title {
  background: #e8e8e8;
  height: 80px;
  padding: 20px 28px;
  box-sizing: border-box;
  font-size: 24px;
  color: #a4a3a3;
  margin-top: 56px;
}

.search-items {
  .search-item {
    font-size: 26px;
    color: #262b31;
    line-height: 54px;
    position: relative;
    padding: 11px 54px;
    border-bottom: 2px solid #f5f8f7;
    &:last-child {
      border-bottom: none;
    }
    &::before {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #28b6f5;
      left: 26px;
      top: 36px;
    }
  }
}

.header-nav {
  width: 100%;
  height: 90px;
  background-color: #f5f5f5;
  line-height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
  .nav-title {
    flex: 1;
  }
  .nav-right {
    width: 80px;
    text-align: center;
  }
}
.more-btn {
  img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }
}
.back-btn {
  background: #3b94e4;
  width: 76px;
  text-align: center;
  height: 100%;
  img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }
}

.btn-default {
  width: 178px;
  height: 68px;
  text-align: center;
  line-height: 68px;
  color: #3b8c65;
  font-size: 24px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
  margin-left: 12px;
}

.divider {
  height: 18px;
  background: #f0f0f0;
}

.code-con {
  padding: 118px 80px 46px 18px;
  background: #fff;
  text-align: center;
  box-shadow: 0 0px 6px 2px rgba(0, 0, 0, 0.16);
  margin-top: 118px;
  .school-pic {
    width: 652px;
    display: block;
  }

  .prompt-title {
    margin: 0;
    padding: 14px 40px;
    font-size: 24px;
    line-height: 38px;
    color: #010101;
  }
  .item-text {
    line-height: 78px;
    color: #010101;
    font-size: 34px;
    .mark-code {
      color: #37493e;
      margin: 0 20px;
    }
    .mark-es {
      color: #37493e;
      font-size: 26px;
    }
  }
  .item-idNumber {
    line-height: 48px;
    color: #010101;
    font-size: 34px;
    margin-bottom: 22px;
  }
  .time-lable {
    line-height: 60px;
    font-size: 24px;
    color: #a4a4a4;
  }
  .time-con {
    line-height: 54px;
    font-size: 24px;
    color: #010101;
  }
  .qrcode-img {
    width: 274px !important;
    height: 274px !important;
    margin-top: 34px;
    margin-bottom: 56px;
  }
  .note {
    font-size: 24px;
    color: #010101;
    line-height: 34px;
    text-align: left;
    text-indent: 2em;
    zoom: 0.96;
  }
}

.footer {
  color: #676767;
  font-size: 24px;
  line-height: 78px;
  height: 78px;
  border-top: 2px solid #9a9a9a;
  text-align: center;
  margin-top: 52px;
}

.drawer-con {
  // min-height: 500px;
  background: #fff;
  border-radius: 10px 10px 0 0;
  padding: 60px 0;
  position: relative;
  .close {
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
